
{{> head }}



{{> navbar }}

<div class="row">
    <div class="col-8">
                <h1>Gorro</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro dignissimos similique temporibus atque repellat magnam omnis ducimus corporis ea culpa ullam alias perspiciatis dolore exercitationem molestiae, est minima quae. Numquam?
                </p>
    </div>
    <div class="col-4">
        <img src="assets/img/azul.png" class="img-thumbnail">
    </div>
</div>


{{> footer}}